*{ 


    margin: 0px;
    padding: 0px;
}
html,body{
    background-color: rgb(94, 89, 83);
    min-height: 100%; 
    font-family: var(--font1);
    
}
header{
    background-color: black;
    color: white;
    text-align: center; }

    header > h1{
        padding: 50px 0px 50px 0px;
        font-variant: small-caps;    
        font-family: var(--font2); 
        font-size: 4.5vw;
    }

            
            a{
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
            a:hover{
                text-decoration: underline;
            }
            footer{
                background-color: black;
                text-align: center;
                color: white;
                padding: 10px;
            }
            section{ 
                padding-top: 10vh;
                padding-bottom: 10vh;
                line-height: 2em;
                padding-left: 30px;
                font-family: var(--font3);
                font-size: 3vw;
            }
            section.normal{
                background-color: white;
                color: black;
            }
            section.imagem > P{
                padding: 5px;
                display: inline-block;
                background-color: bisque;
            }
            section.imagem{
            background-color: rgb(177, 177, 224);
            color: black;
            }
            @import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@1,100&family=Onest:wght@100&display=swap');

            @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100&display=swap');
            :root{
                --font1: verdana, geneva,tahoma,sans-serif;
                --font2:'Onest', sans-serif;
                --font3:'Advent Pro', sans-serif;
                
            }